# Obsidian (Configuraciones locales, temas, plugins y caché gráfico)
.obsidian/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Ajustes locales de VS Code
.vscode/
.idea/

# Logs de error
*.log
npm-debug.log*

# Variables de entorno y credenciales
.env
.env.local

# Futuras misiones con Node / Vite / React / Next.js
node_modules/
dist/
build/
.next/